PORT = 3000
APP_KEY =BACKBLAZE_APP_KEY
KEY_ID = BACKBLAZE_KEY
BUCKET_ID=BACKBLAZE_BUCKET_ID
BUCKET_NAME= BACKBLAZE_BUCKET_NAME
Endpoint=BACKBLAZE_ENDPOINT
MONGO_URI= MONGO_URI
JWT_SECRET=JWTSECRET
FRONTEND_URL=http://localhost:5173/
REDIS_HOST =REDIS_HOST