# Server

PORT=3000

# Backblaze B2 Storage

APP_KEY=YOUR_BACKBLAZE_APP_KEY
KEY_ID=YOUR_BACKBLAZE_KEY_ID
BUCKET_ID=YOUR_BUCKET_ID
BUCKET_NAME=YOUR_BUCKET_NAME
Endpoint=https://s3.region.backblazeb2.com

# Database

MONGO_URI=YOUR_MONGODB_CONNECTION_STRING

# Auth

JWT_SECRET=YOUR_SECRET_KEY

# Frontend

FRONTEND_URL=http://localhost:5173

# Redis

REDIS_HOST=YOUR_REDIS_HOST
REDIS_URL=YOUR_REDIS_URL
